body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    padding:20px;
}

.card{
    background:white;
    border-radius:12px;
    padding:18px;
    margin-bottom:20px;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.card h2{
    margin:0;
}

.buttons{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.btn{
    flex:1;
    text-align:center;
    padding:12px;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.android{
    background:green;
}

.windows{
    background:#16316b;
}

.ios{
    background:black;
}

ul{
    margin-top:10px;
}